
{% extends 'shopping/base.html' %}
{% load static %}
{% block internal_css %}
{% endblock %}
{% block container %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Banner Start ***** -->
        <div class="main-banner">
          <div class="row">
            <div class="col-lg-7">
              <div class="header-text">
                <h6>Welcome To Chennai Shoppi</h6>
                <h4><em>Browse</em> Top Selling Products are Here</h4>
                <div class="main-button">
                  <a href="browse/">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Banner End ***** -->

        <!-- ***** Most Popular Start ***** -->
        <div class="most-popular">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Most Popular</em> Right Now</h4>
              </div>
              <div class="row">
                {% for prod in data %}
                <div class="col-lg-3 col-sm-6">
                  <div class="item">
                    <img height="175" width="175" src="{{ prod.prod_images.url }}" alt="">
                    <h3 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"> {{ prod.prod_name }}</h3>
                    <h4>Actual Price<br><span>Discount</span></h4>
                    <ul>
                      <li><i class="fa-solid fa-indian-rupee-sign"></i> {{ prod.prod_actual_price }}</li>
                      <li><i class="fa-sharp fa-regular fa-percent"></i> {{ prod.prod_discount }} </li>
                    </ul>
                    <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Most Popular End ***** -->

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}